<br />
<div *ngIf="showList">
  <div class="row">
    <div class="col-md-1 col-3"><button class="btn btn-success" (click)="newCie(true)">New</button></div>
    <div class="col-md-11 col-9"> <h3>Company list</h3> </div>
  </div>
  <br />
  <div class="row" *ngFor='let cie of companyList'>
    <div class="col-3">
      <button *ngIf="cie._id" class="btn btn-danger" (click)="confirmCDelete(cie)">Delete</button>
      <button *ngIf="cie._id" class="btn btn-info" (click)="editThisCie(cie)">Edit</button>
    </div>
    <div class="col-9">
        <i class="text-success fa fa-map-marker" *ngIf="cie.gps.geometry.coordinates[0] !== 0"></i>
        {{cie.name}} - {{cie.location}}
    </div>
  </div>
  <br />
  <hr />
  <div class="row">
    <div class="col-md-1 col-3"><button class="btn btn-success" (click)="newCie(false)">New</button></div>
    <div class="col-md-11 col-9"><h3>Recruiters list</h3></div>
  </div>
  <br />
  <div class="row" *ngFor='let item of RecrutersList'>
    <div class="col-3">
      <button *ngIf="item._id" class="btn btn-danger" (click)="confirmRDelete(item)">Delete</button>
      <button *ngIf="item._id" class="btn btn-info" (click)="editThisRecruters(item)">Edit</button>
    </div>
    <div class="col-9">
        {{item.cie}} - {{item.name}}
    </div>
  </div>
</div>

<!-- Edit Company Section -->
<div *ngIf="showCie">
  <h3>Edit Company :</h3>
  <form (ngSubmit)="submitCie()" #newApplication="ngForm">

    <div class="form-group row">
      <label class="col-2 col-form-label" for="name">Company Name</label>
      <input type="text" class="form-control col-10" id="name"
             required
             [(ngModel)]="activeCie.name" name="name"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger"> Company is required </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="cie">Location</label>
      <input type="text" class="form-control col-10" id="location"
             required
             [(ngModel)]="activeCie.location" name="location"
             #location="ngModel">
      <div [hidden]="location.valid || location.pristine" class="alert alert-danger"> Name is required </div>
    </div>
    <div class="row">
      <div class="col-2">
        GPS Coordonate:
      </div> <a class="col-10" href="https://www.gps-coordinates.net/" target="_blank">www.gps-coordinates.net</a>
    </div>
    <div class="row">
      <label class="col-2 col-form-label" for="gps">Coordinated (DD):</label>
      <label class="col-1 col-form-label"> Latitude: </label> <input type="number" class="form-control col-3" id="gps0"
             [(ngModel)]="activeCie.gps.geometry.coordinates[0]" name="gps0"
             #name="ngModel">
      <label class="col-1 col-form-label"> Longitude: </label> <input type="number" class="form-control col-3" id="gps1"
             [(ngModel)]="activeCie.gps.geometry.coordinates[1]" name="gps1"
             #name="ngModel">
    </div>
    <div class="row">
      <button type="submit" class="btn btn-success" [disabled]="!newApplication.form.valid || submitting">Submit</button>
    </div>
  </form>
</div>

<div *ngIf="showRecruters">
  <h3>Edit Recruiters :</h3>
  <form (ngSubmit)="submitRecru()" #newApplication="ngForm">

    <div class="form-group row">
      <label class="col-2 col-form-label" for="cie">Company Name</label>
      <input type="text" class="form-control col-10" id="cie"
             required
             [(ngModel)]="activeRecruters.cie" name="cie"
             #cie="ngModel">
      <div [hidden]="cie.valid || cie.pristine" class="alert alert-danger"> Company is required </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="cie">Recruiter name</label>
      <input type="text" class="form-control col-10" id="name"
             required
             [(ngModel)]="activeRecruters.name" name="name"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger"> Name is required </div>
    </div>

    <div class="row">
      <button type="submit" class="btn btn-success" [disabled]="!newApplication.form.valid || submitting">Submit</button>
    </div>
  </form>
</div>

<div *ngIf="!showList">
  <br />
  <div class="row">
    <button class="btn btn-info" (click)="listView()">List View</button>
  </div>
</div>
<simple-notifications [options]="options"></simple-notifications>
