<br />
<div *ngIf="showList">
  <div class="row">
    <div class="col-1"><button class="btn btn-success" (click)="newCie(true)">New</button></div>
    <h3>Company list</h3>
  </div>
  <br />
  <div class="row" *ngFor='let cie of companyList'>
    <div class="col-2">
      <button class="btn btn-danger" (click)="deleteCieId(cie._id)">Delete</button>
      <button class="btn btn-info" (click)="editThisCie(cie)">Edit</button>
    </div>
    <div class="col-6">
        {{cie.name}} - {{cie.location}}
    </div>
  </div>
  <br />
  <hr />
  <div class="row">
    <div class="col-1"><button class="btn btn-success" (click)="newCie(false)">New</button></div>
    <h3>Recruiters list</h3>
  </div>
  <br />
  <div class="row" *ngFor='let item of RecrutersList'>
    <div class="col-2">
      <button class="btn btn-danger" (click)="deleteRecruId(item._id)">Delete</button>
      <button class="btn btn-info" (click)="editThisRecruters(item)">Edit</button>
    </div>
    <div class="col-6">
        {{item.cie}} - {{item.name}}
    </div>
  </div>
</div>

<!-- Edit Company Section -->
<div *ngIf="showCie">
  <h3>Edit Company :</h3>
  <form (ngSubmit)="submitCie()" #newApplication="ngForm">

    <div class="form-group row">
      <label class="col-2 col-form-label" for="name">Company Name</label>
      <input type="text" class="form-control col-10" id="name"
             required
             [(ngModel)]="activeCie.name" name="name"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger"> Company is required </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="cie">Location</label>
      <input type="text" class="form-control col-10" id="location"
             required
             [(ngModel)]="activeCie.location" name="location"
             #location="ngModel">
      <div [hidden]="location.valid || location.pristine" class="alert alert-danger"> Name is required </div>
    </div>

    <div class="row">
      <button type="submit" class="btn btn-success" [disabled]="!newApplication.form.valid">Submit</button>
    </div>
  </form>
</div>

<div *ngIf="showRecruters">
  <h3>Edit Recruiters :</h3>
  <form (ngSubmit)="submitRecru()" #newApplication="ngForm">

    <div class="form-group row">
      <label class="col-2 col-form-label" for="cie">Company Name</label>
      <input type="text" class="form-control col-10" id="cie"
             required
             [(ngModel)]="activeRecruters.cie" name="cie"
             #cie="ngModel">
      <div [hidden]="cie.valid || cie.pristine" class="alert alert-danger"> Company is required </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="cie">Recruiter name</label>
      <input type="text" class="form-control col-10" id="name"
             required
             [(ngModel)]="activeRecruters.name" name="name"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger"> Name is required </div>
    </div>

    <div class="row">
      <button type="submit" class="btn btn-success" [disabled]="!newApplication.form.valid">Submit</button>
    </div>
  </form>
</div>

<div *ngIf="!showList">
  <br />
  <div class="row">
    <button class="btn btn-info" (click)="listView()">List View</button>
  </div>
</div>
