<h2>My Job list - <span *ngIf="jobList">{{jobList.length}}</span></h2>
<input type="text" [(ngModel)]="filterBy" placeholder="Filter By">
<div class="row tableHeader">
  <div class="col-md-2 col-6" (click)="orderListBy('answer_receive')"> Options
    <sorting-order comparable="answer_receive" [orderby]="orderBy" [order]="orderOrder"></sorting-order>
  </div>
  <div class="col-md-3 col-6" (click)="orderListBy('company')"> Cie
    <sorting-order comparable="company" [orderby]="orderBy" [order]="orderOrder"></sorting-order>
  </div>
  <div class="col-md-3 col-5" (click)="orderListBy('recruiters')"> Recruiters
    <sorting-order comparable="recruiters" [orderby]="orderBy" [order]="orderOrder"></sorting-order>
  </div>
  <div class="col-md-3 col-5" (click)="orderListBy('title')"> Title
    <sorting-order comparable="title" [orderby]="orderBy" [order]="orderOrder"></sorting-order>
  </div>
  <div class="col-md-1 col-2" (click)="orderListBy('title')"> Date
    <sorting-order comparable="title" [orderby]="orderBy" [order]="orderOrder"></sorting-order>
  </div>
</div>
<div class="row"
  [ngClass]="{strikeText: job.offer === 'Rejected', oddColor: job.offer !== 'Rejected'}"
  *ngFor="let job of jobList | jobListPipe:filterBy | slice:fromNbr:toNbr">
  <div class="col-md-2 col-6" (click)="job.show = !job.show">
    <i class="text-success fas fa-check" *ngIf="job.application"></i>
    <i class="text-danger fas fa-ban" *ngIf="!job.application"></i>
    <i class="text-success fas fa-comments" *ngIf="job.answer_receive"></i>
    <span *ngIf="job.answer_receive">{{job.meeting.length}}</span>
    <i class="text-danger far fa-comment" *ngIf="!job.answer_receive"></i>
  </div>
  <div class="col-md-3 col-6" (click)="job.show = !job.show"> {{job.company}} </div>
  <div class="col-md-3 col-6"> {{job.recruiters}} </div>
  <div class="col-md-3 col-6"> {{job.title}} </div>
  <div class="col-md-1 col-6"> {{job.date}} </div>
  <div class="col-12" *ngIf="job.show"> {{job.location}} </div>
  <div class="col-12" *ngIf="job.show">
    <button class="btn btn-danger" (click)="confirmDelete(job)">Delete</button>
    <button class="btn btn-info" (click)="goToEditJobDetails(job._id)">Edit</button>
  </div>
</div>
<ngb-pagination class="center" [collectionSize]="collectionSize" (pageChange)="switchPageTo($event)" [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
<div class="error" *ngIf="error">{{error}}</div>

<simple-notifications [options]="options"></simple-notifications>
