<h2>My Job list - <span *ngIf="jobList">{{jobList.length}}</span></h2>
Add a Search box (Here):
<div class="row tableHeader">
  <div class="col-md-2 col-6"> Options </div>
  <div class="col-md-3 col-6"> Cie </div>
  <div class="col-md-3 col-6"> Recruiters </div>
  <div class="col-md-4 col-6"> Title </div>
</div>
<div class="row"
  [ngClass]="{strikeText: job.offer === 'Rejected', oddColor: job.offer !== 'Rejected'}"
  *ngFor="let job of jobList | slice:fromNbr:toNbr">
  <div class="col-md-2 col-6" (click)="job.show = !job.show">
    <i class="text-success fa fa-check" *ngIf="job.application"></i>
    <i class="text-danger fa fa-ban" *ngIf="!job.application"></i>
    <i class="text-success fa fa-commenting" *ngIf="job.answer_receive"></i>
    <span *ngIf="job.answer_receive">{{job.meeting.length}}</span>
    <i class="text-danger fa fa-commenting" *ngIf="!job.answer_receive"></i>
  </div>
  <div class="col-md-3 col-6" (click)="job.show = !job.show"> {{job.company}} </div>
  <div class="col-md-3 col-6"> {{job.recruiters}} </div>
  <div class="col-md-4 col-6"> {{job.title}} </div>
  <div class="col-12" *ngIf="job.show"> {{job.location}} </div>
  <div class="col-12" *ngIf="job.show">
    <button class="btn btn-danger" (click)="confirmDelete(job)">Delete</button>
    <button class="btn btn-info" (click)="goToEditJobDetails(job._id)">Edit</button>
  </div>
</div>
<ngb-pagination class="center" [collectionSize]="collectionSize" (pageChange)="switchPageTo($event)" [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
<div class="error" *ngIf="error">{{error}}</div>

<simple-notifications [options]="options"></simple-notifications>
