<h2>My Job list - <span *ngIf="jobList">{{jobList.length}}</span></h2>
<input type="text" [(ngModel)]="filterBy" placeholder="Filter By">
<div class="row tableHeader">
  <div class="col-md-2 col-6" (click)="orderListBy('answer_receive')"> Options
    <i class="fa fa-arrows-v" *ngIf="orderBy !== 'answer_receive'"></i>
    <i class="fa fa-arrow-down" *ngIf="orderBy === 'answer_receive' && orderOrder"></i>
    <i class="fa fa-arrow-up" *ngIf="orderBy === 'answer_receive' && !orderOrder"></i>
  </div>
  <div class="col-md-3 col-6" (click)="orderListBy('company')"> Cie
    <i class="fa fa-arrows-v" *ngIf="orderBy !== 'company'"></i>
    <i class="fa fa-arrow-down" *ngIf="orderBy === 'company' && orderOrder"></i>
    <i class="fa fa-arrow-up" *ngIf="orderBy === 'company' && !orderOrder"></i>
  </div>
  <div class="col-md-3 col-6" (click)="orderListBy('recruiters')"> Recruiters
    <i class="fa fa-arrows-v" *ngIf="orderBy !== 'recruiters'"></i>
    <i class="fa fa-arrow-down" *ngIf="orderBy === 'recruiters' && orderOrder"></i>
    <i class="fa fa-arrow-up" *ngIf="orderBy === 'recruiters' && !orderOrder"></i>
  </div>
  <div class="col-md-4 col-6" (click)="orderListBy('title')"> Title
    <i class="fa fa-arrows-v" *ngIf="orderBy !== 'title'"></i>
    <i class="fa fa-arrow-down" *ngIf="orderBy === 'title' && orderOrder"></i>
    <i class="fa fa-arrow-up" *ngIf="orderBy === 'title' && !orderOrder"></i>
  </div>
</div>
<div class="row"
  [ngClass]="{strikeText: job.offer === 'Rejected', oddColor: job.offer !== 'Rejected'}"
  *ngFor="let job of jobList | jobListPipe:filterBy | slice:fromNbr:toNbr">
  <div class="col-md-2 col-6" (click)="job.show = !job.show">
    <i class="text-success fa fa-check" *ngIf="job.application"></i>
    <i class="text-danger fa fa-ban" *ngIf="!job.application"></i>
    <i class="text-success fa fa-commenting" *ngIf="job.answer_receive"></i>
    <span *ngIf="job.answer_receive">{{job.meeting.length}}</span>
    <i class="text-danger fa fa-commenting" *ngIf="!job.answer_receive"></i>
  </div>
  <div class="col-md-3 col-6" (click)="job.show = !job.show"> {{job.company}} </div>
  <div class="col-md-3 col-6"> {{job.recruiters}} </div>
  <div class="col-md-4 col-6"> {{job.title}} </div>
  <div class="col-12" *ngIf="job.show"> {{job.location}} </div>
  <div class="col-12" *ngIf="job.show">
    <button class="btn btn-danger" (click)="confirmDelete(job)">Delete</button>
    <button class="btn btn-info" (click)="goToEditJobDetails(job._id)">Edit</button>
  </div>
</div>
<ngb-pagination class="center" [collectionSize]="collectionSize" (pageChange)="switchPageTo($event)" [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
<div class="error" *ngIf="error">{{error}}</div>

<simple-notifications [options]="options"></simple-notifications>
