$buttoncolor: #333;
nav {
  overflow: hidden;
  background-color: $buttoncolor;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 30px;
  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    &:hover {
      background-color: darken($buttoncolor,50%)
    }
  }
}
