<h3>New application</h3>
<div class="grid grid-pad">
  <form #newApplication="ngForm">
    <div class="form-group row" *ngIf="newCie">
      <div class="col-3">
        <button *ngIf="!base._id" class="btn btn-success" (click)="toggleCie()">New</button>
        <label class="col-form-label" for="company">Select Company</label>
      </div>
      <select class="form-control col-9" id="company"
              required
              (change)="spreadCie($event)"
              [(ngModel)]="base.company" name="company"
              #company="ngModel">
        <option [value]=""></option>
        <option *ngFor="let cie of companyList" [value]="cie.name">{{cie.name}}</option>
      </select>
      <div [hidden]="company.valid || company.pristine" class="alert alert-danger"> Company is required </div>
    </div>
    <div *ngIf="!newCie" class="form-group row">
      <div class="col-1"> <button class="btn btn-success" (click)="toggleCie()">Existing</button> </div>
      <label class="col-2 col-form-label" for="name">Company Name</label>
      <input type="text" class="form-control col-9" id="name"
             required
             [(ngModel)]="activeCie.name" name="name"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger"> Company is required </div>
    </div>
    <div *ngIf="!newCie" class="form-group row">
      <label class="col-3 col-form-label" for="cie">Company Location</label>
      <input type="text" class="form-control col-9" id="location"
             required
             [(ngModel)]="activeCie.location" name="location"
             #location="ngModel">
      <div [hidden]="location.valid || location.pristine" class="alert alert-danger"> Name is required </div>
    </div>
    <hr *ngIf="!newCie" />

    <div *ngIf="newCie" class="form-group row">
      <label class="col-3 col-form-label" for="name">City</label>
      <input type="text" class="form-control col-9" id="location"
             required
             [(ngModel)]="base.location" name="location"
             #location="ngModel">
      <div [hidden]="location.valid || location.pristine" class="alert alert-danger"> Name is required </div>
    </div>
    <div class="form-group row">
      <label class="col-3 col-form-label" for="recruiters">Select Recruiters</label>
      <select class="form-control col-9" id="recruiters"
              [(ngModel)]="base.recruiters" name="recruiters"
              #recruiters="ngModel">
        <option [value]=""></option>
        <option *ngFor="let recru of RecrutersList" [value]="recru.cie">{{recru.cie}} - {{recru.name}}</option>
      </select>
    </div>

    <div class="form-group row">
      <label class="col-3 col-form-label" for="title col-xs-2">Title</label>
      <input type="text" class="form-control col-9" id="title"
             required
             [ngbTypeahead]="listPosition"
             [(ngModel)]="base.title" name="title"
             #title="ngModel">
      <div [hidden]="title.valid || title.pristine" class="alert alert-danger"> Title is required </div>
    </div>

    <div class="form-group row">
      <label class="col-3 col-form-label" for="website">Select Website</label>
      <select class="form-control col-9" id="website"
              [(ngModel)]="base.website" name="website"
              #recruiters="ngModel">
        <option *ngFor="let list of websiteList" [value]="list">{{list}}</option>
      </select>
    </div>

    <div class="form-group row">
      <label class="col-3 col-form-label" for="name">Description</label>
      <input type="text" class="form-control col-9" id="description"
             [(ngModel)]="base.description" name="description">
    </div>

    <div class="form-group row">
      <label class="col-3 col-form-label" for="name">Date Picker</label>
      <input type="date" class="form-control col-9" id="date"
             [(ngModel)]="base.date" name="date">
    </div>

    <div class="form-group row">
      <label class="col-3 col-form-label" for="name">Did you apply</label>
      <div class="btn-group col-3" ngbRadioGroup name="apply" [(ngModel)]="base.application">
        <label ngbButtonLabel class="btn btn-secondary" [ngClass]="{'btn-success': base.application}">
          <input ngbButton type="radio" [value]="true"> Yes
        </label>
        <label ngbButtonLabel class="btn btn-secondary" [ngClass]="{'btn-danger': !base.application}"> <input ngbButton type="radio" [value]="false"> No </label>
      </div>
      <span class="col-7">Note: This is mainly if we have a recruters proposing different cie.</span>
    </div>

    <div class="form-group row" *ngIf='base.application'>
      <label class="col-3 col-form-label" for="name">Received an answer</label>
      <div class="btn-group col-3" ngbRadioGroup name="apply" [(ngModel)]="base.answer_receive">
        <label ngbButtonLabel class="btn btn-secondary" [ngClass]="{'btn-success': base.answer_receive}">
          <input ngbButton type="radio" [value]="true"> Yes
        </label>
        <label ngbButtonLabel class="btn btn-secondary" [ngClass]="{'btn-danger': !base.answer_receive}"> <input ngbButton type="radio" [value]="false"> No </label>
      </div>
    </div>

    <div *ngIf="base.meeting.length > 0">
      <div *ngFor="let item of base.meeting; let i = index;">
        <div class="row">
          <div class="col-3"><button type="button" class="btn btn-danger" (click)="remoteThisMeeting(i)">Delete</button></div>
          <input type="date" class="col-2 form-control" id="date" [(ngModel)]="item.date" name="itemDate-{{i}}">
          <div class="col-2 text-right"> Purpose </div>
          <input type="text" class="form-control col-5" id="purpose" [(ngModel)]="item.purpose" name="purpose-{{i}}">
        </div>
        <div class="row">
          <div class="col-3"> Participant: </div>
          <input
            type="text"
            class="form-control col-4"
            #box
            name="box-{{i}}"
            (keyup.enter)="addParticipant(item, box.value); box.value =''">
        </div>
        <div class="row" *ngIf="item.participants.length > 0">
          <div class="col-3"> Participant: </div>
          <h4 *ngFor="let person of item.participants; let j = index;" (click)="removeIndexFromArray(j, item)">
            <span class="badge badge-pill badge-info"> X - {{person}} </span>
          </h4>
        </div>
        <div class="row">
          <div class="col-2"> Challenge: </div>
          <div class="col-10"> {{item.challenge}} </div>
        </div>
        <div class="row">
          <div class="col-3"> Extra notes: </div>
          <textarea class="col-9" rows="5" [(ngModel)]="item.notes" name="notes-{{i}}"> {{item.notes}}</textarea>
        </div>
        <br />
      </div>
    </div>
    <div class="row" *ngIf="base.application">
      <div class="col-3"> </div>
      <button type="button" class="btn btn-success" (click)="addMetting()">Add meeting info</button>
    </div>

    <div class="form-group row">
      <label class="col-3 col-form-label" for="notes">Notes</label>
      <textarea class="col-9" rows="5" [(ngModel)]="base.notes" name="notes"> {{base.notes}}</textarea>
    </div>

    <div class="form-group row">
      <label class="col-3 col-form-label" for="cover">Cover letter URL</label>
      <input type="cover_letter" class="form-control col-9" id="cover_letter"
             [(ngModel)]="base.cover_letter" name="cover_letter">
    </div>

    <div class="row">
      <button type="button" class="btn btn-success" (click)="onSubmit(newApplication);" [disabled]="!newApplication.form.valid || submitting">Submit</button>
    </div>
  </form>

</div>
<simple-notifications [options]="options"></simple-notifications>
