/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '~bootstrap/scss/bootstrap';

$funPurple: #bb22bb;

.oddColor:nth-child(odd) { background-color: #CCC }
.strikeText {
  color: #FFF;
  text-decoration: line-through;
  background-color: $funPurple;
  &:nth-child(odd) { background-color: darken($funPurple, 10%) }
}

.tableHeader {
  background-color: black;
  color: white;
  text-align: center;
  font-weight: bold;
}
